@font-face {
    font-family: 'Figtree';
    src: url('/fonts/Figtree-400.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('/fonts/Figtree-600.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('/fonts/Figtree-700.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
